@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

body {
  padding: 20px;
  font-family: 'Lato', sans-serif;
}
.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
/* .header {
} */
.button {
  cursor: pointer;
  background: #000;
  padding: 10px;
  color: #fff;
  transition: all 0.2s;
  border: 1px solid #000;
}
.button:hover {
  background: #fff;
  color: #000;
}
.input {
  padding: 10px;
  outline: none;
  border: 1px solid #777;
}
.form__email {
  min-width: 315px;
}
/* .email__button {
} */
.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup__content {
  padding: 20px;
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  max-width: 600px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* .form__input {
} */
.warning {
  color: rgb(210, 30, 30);
}
.wrong-input {
  border-color: rgb(210, 30, 30);
  color: rgb(210, 30, 30);
}
.wrong-input::placeholder {
  color: rgb(210, 30, 30);
}
.form__select {
  padding: 10px;
  border: 1px solid #777;
  outline: none;
}
.form__button,
.popup-btn {
  width: fit-content;
}
.cards-wrapper h2 {
  margin: 40px 0;
  text-align: center;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.cards__item {
  /* border: 2px solid #444; */
  display: grid;
  grid-template-columns: 200px 1fr;
}
.cards__img {
  width: 400px;
  height: 200px;
  object-fit: contain;
}
.cards__img img {
  height: 100%;
}
.cards__info {
  font-size: 18px;
  margin-left: 20px;
}
